@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

header{
	background-color: #49B6ff;
	color: #fff;
	justify-content: space-between;
	text-align: right;
}

.animative{
	padding-top: 10px;
}

.logo{
	display: flex;
	align-items: center;
	
}

.logo-img{
	height: 40px;
	margin-right: 15px;
	margin-left: 30px;
}

.text{
    display: flex;
	align-items: center;
	padding-right: 50px;
	padding-top: 10px;

}

.section{
	text-align: center;
	padding: 7% 0;
}

.feed_section{
	text-align: start;
	padding: 7% 0;
}

.learn{
	padding-right: 20px;
	
}

.sign-in{
	padding-right: 20px;
}




footer{
	background-color: #000;
	color: #fff;
	text-align: start;
	padding: 1px 0;
}

.Rose_bonbon{
	color: #FF499E;
}

.Sky_Magenta{
	color: #D264B6;
}

.Lavender{
	color: #A480CF;
}

.Vista_Blue{
	color: #779BE7;
}

.Argentinian_Blue{
	color: #49B6FF;
}

#niche{
	background-color: #779BE7;
	color: white;
	text-align: center;
	padding: 80px 0px;
}

.img-1 {
	margin: 25px;
	border: 7px solid #ff499e;
	border-radius: 7px;
}
 
.text-1 {
	text-align: center;
	font-size: 26px;
	text-decoration-color: #546DA2;
}

.img-2 {
	margin: 25px;
	border: 7px solid #4ab6ff;
	border-radius: 7px;
}

 .text-2 {
	text-align: center;
	font-size: 26px;
	text-decoration-color: #546DA2;
}

.img-3 {
	margin: 25px;
	border: 7px solid #a580ce;
	border-radius: 7px;
}
 
.text-3 {
	text-align: center;
	font-size: 26px;
	text-decoration-color: #546DA2;
}

.img-4 {
	margin: 25px;
	border: 7px solid #779be7;
	border-radius: 7px;
}

.text-4 {
	text-align: center;
	font-size: 26px;
	text-decoration-color: #546DA2;
}



.hero {
   position: relative;
   width: 100vw;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
	background-image: url("../img/animator.jpg");
	background-size: cover;
	background-position: top center;
}

/*.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../img/animator.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(60%);
}*/
.hero-content {
   position: relative;
   font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
   color: white;
   text-align: center;
   margin: 6px;
}
.hero-title {
   font-size: 45px;
   font-weight: 600;
   margin-bottom: 0px;
}
.hero-subtitle {
   font-size: 23px;
   font-weight: 200;
   margin-top: 25px;
}

.card-header{
	align-content: center;
} 

.btn{
	cursor: pointer;
	outline: 0;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#animative{
	background-color: #A9D9F0;
	color: #fff;
	padding: 20px 0px;

}

#animative h2{
	padding-top: 100px;
	padding-bottom: 40PX;
}

#plataforma{
	background-color:#A9D9F0;
	color: #fff;
	padding: 20px 0px;
}

#nosotros{
	background-color:#A9D9F0;
	color: #fff;
	padding: 20px 0px;
}

#about-us{
	padding: 2% 0;
}

#socials{
	padding: 2% 0;
	text-align: start;
}

.loginbox{
	
	height: 500px;
	top: 50%;
	left: 50%;
	background: #49B6FF;
	
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 50px 0;
	
}

.avatar {
	width: 25%;
	position: absolute;
	margin-top: 30px;
}
	
form {
	padding: 130px 30px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.loginbox h1 {

	margin-bottom: 10px;
	text-align: center;
}

.loginbox p{
	margin: 0px;
	padding: 0px;
}
	
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
	
}

.account a{
	display: flex;
   justify-content: center;
	
}





