body{
	font-family: Segoe UI;
	font-size: 18px;
	align-content: center;
}

header{
	background-color: #49B6ff;
	color: #fff;
	text-align: right;
	padding: 20px;
}

.card-header{
	align-content: center;
} 

.btn{
	cursor: pointer;
	outline: 0;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn{					
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}
                  
         